body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(21, 108, 25);
    color: rgb(255, 255, 0);
}
section{
    padding: 2rem;
    margin: 2rem;
}
section#localhorario{
    border: 10px solid rgb(11, 0, 115);
    border-radius: 0.5rem;
    border-color: rgba(5, 0, 158, 0.508);
    background:blue;
    color: white;
}
.destaque {
    font-weight: bold;
    border: 1px solid white;
    border-radius: 0.5rem;
    margin: 1rem
}
